# Copie ce fichier en .env et adapte les valeurs
APP_NAME=NexusCare
DEBUG=true
SECRET_KEY=CHANGE_ME_openssl_rand_hex_32
DATABASE_URL=sqlite:///./nexuscare.db
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
